<div class="row">

  <div class="col-md-6 mx-auto"> 
    <div class="card card-body mt-5">
      <img src="/img/logo.png" class="logo" alt="logo">
      <h3 class="text-center">Account Login</h3>

      <form method="POST" action="/users/login">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" placeholder="ex:pet@ogonge.com" required>
        </div>

        <div class="form-group">
          <label for="email">Password</label>
          <input type="password" class="form-control" name="password" placeholder="pass***d" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>